Ignore user-specific files,
*.user
.suo

IDE settings,
.idea/
.vs/
.vscode/

Build output,
/bin/
/obj/

Logs,
**/.log
/*.txt
/internal-nlog.txt

Test results,
TestResults/
test//bin/
test//obj/

NuGet,
*.nupkg
*.snupkg
packages/